.toggle {
  width: 20rem;
  background-color: white;
  margin: 2rem auto;
  padding: 2rem 3rem;
}

.toggle div {
  text-align: center;
  margin-top: 2rem;
}

.toggle div button {
  margin: 1rem;
}

.toggle div span {
  font-size: 1.2rem;
  font-family: 600;
}